.gallery-item {
  position: relative;
/*    background-color: #666;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.img-description {
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  font-size: 1.2rem;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.gallery-item-sm {    
  height: 250px;
  width: 300px;
  margin: 20px auto;
}

.gallery-item:hover .img-description {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
} 

.gallery-item-md {
  height: 350px;
  max-width: 450px;
  margin: 20px auto;
}

.gallery-item-lg {
  height: 450px;
  max-width: 550px;
  margin: 20px auto;
}

.gallery-item img {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.gallery-item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-item-sm img {
  height: 250px;
  width: 300px;
}

@media screen and (min-width: 750px) {
  .gallery-item {
      margin-bottom: 20px;
  }
}